- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область. Помпы'
- meta_description 'У нас Вы можете помпы'
- meta_keywords 'помпы, купить помпу, заказать помпу'
.pomps
  = render partial: 'partials/links_for_indexes'
  .pomps-line
  .pomps-filters
    .pomps-filters-left
    //.pomps-filters-left-item{class: ('active' if link_active?)}
    //  = link_to 'Все', pomps_path
    //.pomps-filters-left-item{class: ('active' if link_active?('напольные'))}
    //  = link_to 'Напольные', pomps_path(type_construction: 'напольные')
    //.pomps-filters-left-item{class: ('active' if link_active?('настольные'))}
    //  = link_to 'Настольные', pomps_path(type_construction: 'настольные')
    .pomps-filters-right
      = link_to 'Сортировать по цене', pomps_path(order: 'price')
  .pomps-list
    - @pomps.each_with_index do |pomp, index|
      = render 'pomps/item', pomp: pomp, index: index
