.coolers-links
  .coolers-links-item{class: ('active' if params[:controller] == 'coolers')}
    = link_to 'Кулеры', coolers_path
  .coolers-links-item{class: ('active' if params[:controller] == 'pomps')}
    = link_to 'Помпы', pomps_path
  .coolers-links-item{class: ('active' if params[:controller] == 'accessories')}
    = link_to 'Аксессуары', accessories_path
