- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область. О компании'
- meta_description 'У нас Вы можете заказать воду с доставкой Санкт-Петербург и Ленинградская область'
- meta_keywords 'заказ воды, доставка воды, Prima-Aqua, прима аква, питер, Санкт-Петербург, спб'
= render 'layouts/fixed_header'

.aqua_posts
  - @posts.each do |post|
    = render 'welcome/company_post', post: post
  .clearfix
