- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область. О компании'
= render 'layouts/fixed_header'

.aqua_posts
  - @posts.each do |post|
    = render 'welcome/company_post', post: post
  .clearfix
