.profile
  = render 'profile_menu'

  %h2 Мои заказы
  %table
    %tr
      %th
        Код заказа
      %th
        Дата доставки
      %th
        Время доставки
      %th
        Комментарий
      %th
        Товары

    - @orders.each do |order|
      = render 'order', order: order
