- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область. Заказы'
- meta_description 'Заказ воды'
- meta_keywords 'заказать воду, заказ, купить воду'
.profile
  = render 'profile_menu'

  %h2 Мои заказы
  %table
    %tr
      %th
        Код заказа
      %th
        Дата доставки
      %th
        Время доставки
      %th
        Комментарий
      %th
        Товары

    - @orders.each do |order|
      = render 'order', order: order
