- title 'Доставка воды на дом и в офис в Санкт-Петербурге и Ленинградской области'
- meta_description 'Оплата заказа'
- meta_keywords 'виза, мастер кард, процесс оплаты'
.payment_page
  .payment_page__header
    Оплата для физических лиц

  .payment_page__title
    Принимаем к оплате карты
  .payment_page__text
    = image_tag image_url('cards.png')

  .payment_page__title
    Оплата наличными.
  .payment_page__text
    Оплата производится курьеру при получении товара

  .payment_page__title
    По банковской карте.
  .payment_page__text
    В нашей работе мы используем программу и картридеры 2can, с помощью них Вы сможете оплатить Ваш заказ при получении с помощью банковской карты. К сожалению, в данный момент не все наши экипажи оснащены необходимыми устройствами, поэтому возможность оплаты по картам присутствует не на всех маршрутах


  .payment_page__header
    Оплата для юридических лиц

  .payment_page__title
    По безналичному счету.
  .payment_page__text
    Оплата осуществляется только после заключения договора.

  .payment_page__title
    Оплата наличными.
  .payment_page__text
    Оплата производится курьеру при получении товара
