.payment_page
  .payment_page__header
    Оплата

  .payment_page__title
    Принимаем к оплате карты
  .payment_page__text
    = image_tag image_url('cards.png')

  .payment_page__title
    Процесс оплаты для физических лиц
  .payment_page__text
    В начале июля я подготовил интересную для сообщества публикацию о глубоководных кабелях связи, в которой основной упор был сделан на особенности конструкции глубоководного кабеля по сравнению с привычной нам оптикой.

  .payment_page__title
    Оплата для юридических лиц
  .payment_page__text
    JavaScript бесспорно стал незаменимым инструментом для разработчиков фронтенда. Сейчас сфера его применения расширяется на другие области, такие как серверы и микроконтроллеры. Этот язык программирования выбрали престижные университеты, чтобы обучать студентов основам информатики.

  .payment_page__title
    Залог за тару
  .payment_page__text
    Эта статья основана на моей презентации с конференции BrazilJS в августе 2014 года. Она базируется на идеях, о которых я писал в блоге недавно, в основном, в связи с UX и производительностью

  .payment_page__title
    Что будет, если ×××
  .payment_page__text
    Яндекс.Почта — большое и сложное веб-приложение. Для первоначальной загрузки ей необходимо более 1 МБ статических ресурсов (JS/CSS/Шаблонов). При этом Яндекс.Почта обновляется два раза в неделю, а иногда и чаще.
