- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область. Профиль'
- meta_description 'Профиль пользователя'
- meta_keywords 'личный кабинет, профиль'
.profile
  = render 'profile_menu'
  профиль пользователя
