.service
  .service-title
    Обслуживание
  .service-body_imgs
    .service-body_imgs-body
      Некоторые считают, что обслуживание кулера для воды – это своевременная замена бутылей и забота об их достаточном запасе. На самом деле кулеры, как любая сложная техника, требуют специального обслуживания: чистки, санитарной обработки. Специфика «запущенных» кулеров – ломкость и привкус.
      Срок эксплуатации машины зависит от качества бензина, а кулера – от качества воды. Россия же славится некачественной питьевой водой. Кроме того, существует определенный «конфликт интересов» между «организмами» человека и кулера. Ему всего лучше – вода с минимальным содержанием минеральных веществ или дистиллят, а нашему организму такая вода покажется убийственно чистой. Физиологически полноценная вода, имеющая минерализацию до 500 мг/л, рано или поздно начинает плохо влиять на «организм» кулера, его нагревательные и вообще соприкасающиеся с водой элементы. Требуется чистка или ремонт.
    .service-body_imgs-img
      = image_tag 'service.png'
      .service-body_img-button
        = link_to 'Заказать обработку кулера', '#'
  .service-body
    .service-body-title
      Санитарная обработка кулера
    .service-body-text
      Хорошие кулеры сохраняют качество воды долго, но, конечно, не вечно. Через некоторое время вы можете начать чувствовать специфический привкус воды из кулера, а то и расстройство желудка. К этому могут приводить несоблюдение правил гигиены при смене и установке бутылей, периоды без воды и неудачное расположение кулера. Поэтому он требует постоянного внимания, а именно – профилактики, дезинфекции и санитарной обработки.
    .service-body-img
      = image_tag 'gears.png'
    .service-body-text
      Профилактика кулера состоит из очищения от накипи и минеральных отложений и непосредственно дезинфекции всех внутренних полостей. Несоблюдение рекомендованных сроков профилактики приводит к поломкам кулера и серьезным проблемам со здоровьем. Особенно часто подобное встречается, когда кулер стоит не на фирме, а дома. Домашние кулеры некоторые владельцы не чистят и не дезинфицируют более года, между  тем как рекомендованные сроки профилактики кулеров – раз в полгода. Заглянув в бак запущенного кулера для холодной воды, можно в ужас прийти: на дне кулера спокойно колышется слизь болотного запаха и цвета, извините за подробности. Такое бывает и при заправке дорогой, качественной по определению водой. Важно и то, с помощью чего проводится чистка и профилактика. Некоторые из дешевых средств для удаления накипи не предназначены для пищевого оборудования.

.modal_area
  .modal__back.js_modal_back
  .modal__view
    = render 'layouts/service_modal'