- title 'профилактика, санитарная обработка кулеров, водного оборудования с выездом мастера'
- meta_description 'Заказ обслуживания'
- meta_keywords 'сервис, облуживание, заказать'
.service
  .service-title
    Обслуживание кулеров
  .service-body_imgs
    .service-body_imgs-body
      Некоторые считают, что обслуживание кулера для воды – это своевременная замена бутылей и забота об их достаточном запасе. На самом деле кулеры, как любая сложная техника, требуют специального ухода: санитарной обработки (профилактики), иногда ремонта. Специфика «запущенных» кулеров – ломкость и привкус. Срок эксплуатации машины зависит от качества бензина, а кулера – от качества воды и регулярного обслуживания.
    .service-body_imgs-img
      = image_tag 'service.png'
      .service-body_img-button
        = link_to 'Заказать обработку кулера', '#'
  .service-body
    .service-body-title
      Санитарная обработка кулера
    .service-body-text
      Минерализация, являясь одной из ключевых характеристик воды, определяет количество солей, растворенных в ней. В процессе эксплуатации кулерных установок часть имеющихся в воде солей оседает на их нагревательных элементах, образуя осадок в виде накипи, который увеличивает время нагрева воды, придает ей неприятный привкус и формирует пленку или осадочный слой на дне стакана.
      %br
      %br
      Кроме того, растворенные в воде минеральные соли оказывают неблагоприятное воздействие и на другие элементы кулеров. В результате такого воздействия могут, например, получить повреждения эластичные уплотнители, негерметичность которых становится причиной протечек трубок и проблем с закрыванием кранов.
      %br
      %br
      Санитарная обработка кулерного оборудования может потребоваться и в случае проникновения внутрь аппарата различного рода загрязнений и бактерий. Подобное возможно при несоблюдении гигиенических норм установщиками бутылей и ведет к быстрому размножению бактерий и возникновению на внутренних поверхностях аппарата слизистых масс.
      %br
      %br
      Несомненно, что подобного рода бактериальное «заражение» не только портит качество воды и отрицательным образом влияет на ее вкусовые свойства, но и может оказать вредное воздействие на здоровье тех, кто употребляет воду из такого аппарата. Для предотвращения подобного рода ситуаций важно в регулярном режиме производить профилактику кулеров (дезинфекция кулеров).
      %br
      %br
      Следует отметить, что возникновение загрязнений может произойти и в случае, когда при установке емкостей с водой не снимаются термоусадочные колпачки или наклейки, находящиеся на пробке. В такой ситуации части пленочного или бумажного материала оказываются внутри аппарата, образуют затор в трубке, в результате которого вода перестанет поступать в нужном направлении. Это, как правило, приводит к перегреву кулерной установки и выходу из строя ее нагревательных элементов и электронных устройств.
      %br
      %br
      Еще одной распространенной причиной поломок кулеров является использование водопроводной воды для заливки в ее аппарат. Обладая высокой концентрацией солей, которая во много раз превышает аналогичные параметры воды бутилированной, вода из-под крана очень быстро образует критическую дозу накипи и выводит кулер из строя. Кроме того, механические и вредоносные примеси, содержащиеся в водопроводной воде – частицы песка, различного рода бактерии - также способствуют быстрой поломке или бактериальному загрязнению кулерных установок.
      %br
      %br
      Важно! В стандартном режиме эксплуатации необходимо осуществлять дезинфекционные работы не реже одного раза каждые полгода. В случае максимальной загруженности аппарата, его профилактическую санитарную обработку следует проводить ежеквартально.
      %br
      %br
      Регулярные санитарно-профилактические мероприятия и дезинфекция кулерных установок – это экономичный метод сохранения высокого качества, приятного вкуса бутилированной воды и ее безопасности.
      %br
      %br
      В ПРОГРАММУ КОМПЛЕКСНОЙ САНИТАРНОЙ ОБРАБОТКИ КУЛЕРНЫХ УСТАНОВОК включены:
      %br
      промывка наружных поверхностей аппарата;
      %br
      промывка горлышка бутыля и устройства подачи воды (кранов),
      %br
      а также полная очистка:
      %br
      нагревательных элементов от имеющейся накипи;
      %br
      внутренних систем, элементов и узлов от любых загрязнений;
      %br
      и полная антибактериальная обработка кулера.
      %br
      Стоимость всего комплекса работ составляет 950 рублей.


    -#.service-body-img
    -#  = image_tag 'gears.png'
    -#.service-body-text


.modal_area
  .modal__back.js_modal_back
  .modal__view
    = render 'layouts/service_modal'
