!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Имя: #{@call.name}
      %br/
      Телефон: #{@call.phone}
      %br/
      Время: #{@call.time}
      %br/
