!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Имя: #{@service.name}
      %br/
      Телефон: #{@service.phone}
      %br/
      Адрес: #{@service.address}
      %br/
