/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_directory ./sass_folder
 *= require select2
 *= require fonts
 *= require jquery-ui/datepicker
 */


html,body,div,span,u,i,s,em,form,fieldset,label,legend,input,button,textarea,a,caption{margin:0;padding:0;outline:none;}
table {border-collapse:collapse;border-spacing:0; font-size:inherit;}
fieldset,img {border:0;}
caption,th,td{text-align:left; padding: 0 10px; }
/* global styles */
html, body {height:100%; color: #58595b;}
a, .jslink{color: blue}
a:hover, .jslink:hover{color: #F15A2A}
.jslink{text-decoration: underline; cursor: pointer}
.jslink:hover{text-decoration: none}
body{background: #fff}
a{cursor: pointer}
.clearfix{
  clear: both;
}


.hidden_block{
  display: none;
}
.showen_block{
  display: block;
}
.center_text_align{
  text-align: center;
}
/*---------------------HEADER---------------------------*/
.header{
  width: 100%;
  max-width: 1300px;
  height: 115px;
  margin: 0 auto;
  position: relative;
}
.header__top_line{
  height: 40px;

}
.header__top_line__menu{
  text-align: right;
  margin: 0 auto;
  a{
    margin: 0 0 0 20px;
    font-family: 'MuseoSansCyrl-300', sans-serif;
    color:  #a4a4a4;
    font-size: 14px;
    line-height: 40px;
    text-align: left;
    width: 79px;
    height: 10px;
    &:hover{
      color: #0080bb;
    }
  }
}
.header__main_line{
  height: 50px;
  text-align: center;
}
.header__main_line__menu{
  a.with_underline{
    line-height: 50px;
    font-family: 'MuseoSansCyrl-700';
    color:  #0080bb;
    font-size: 16px;
    text-decoration: none;
    &:hover{
      background: image_url('underline1.png') repeat-x 100% 100%;
      padding-bottom: 4px;
      white-space: nowrap;
    }
  }

  /*Обнуляем отступы*/
  ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
  }

  /*Задаём параметры блока, содержащего основное меню*/
  #menu {
    display:block;

  }

  /*Задаём стили для разделов нашего меню*/
  #menu > li {
    margin: 0 2%;
    display:inline-block;
    height:20px;
    position:relative;
  }

  /*Стили для скрытого выпадающего меню*/
  #menu > li > ul {
    position:absolute;
    top:30px;
    left: -10px;
    display:none;
  }

  /*Делаем скрытую часть видимой*/
  #menu > li:hover > ul {
    margin-top: 2px;
    display:block;
    z-index: 2;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    li{
      height: 30px;
      white-space: nowrap;
    }
    li:first-child{
      margin-top: -10px;
    }

  }

}
.main_header{
  .header__logo{
    float: left;
    margin-top: 20px;
    width: 0;
  }
}
.header__contacts{
  position: absolute;
  top: 50px;
  right: 0;
}
.header__actions.slick-slider {
  margin-bottom: 16px;
}
.header__actions{
  background-color:  #f1f1f1;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 40px;
  .slick-slide{
    margin-left: 40px;
  }
  .action__line{
    width: 100%;
    max-width: 1300px;
    line-height: 40px;
    text-align: center;
    a{
      color: #0080bb;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .slick-prev{
    left: 27px;
    &:before {
      color: #0080bb;
    }
  }
  .slick-next{
    right: 27px;
    &:before{
      color: #0080bb;
    }
  }
}
a.red_button{
  display: inline-block;
  border-radius: 3px;
  background-color:  #eb0028;
  width: 110px;
  height: 35px;
  line-height: 35px;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.red_button{
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 3px;
  background-color:  #eb0028;
  width: 110px;
  height: 35px;
  line-height: 35px;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
a.blue_button{
  display: inline-block;
  border-radius: 3px;
  background-color: #0080bb;
  min-width: 110px;
  height: 35px;
  line-height: 35px;
  font-family: 'MuseoSansCyrl-700';
  color:  white;
  font-size: 16px;
  padding: 0 15px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
a.with_blue_button{
  display: inline-block;
  border-radius: 3px;
  background-color: white;
  min-width: 110px;
  height: 35px;
  line-height: 35px;
  font-family: 'MuseoSansCyrl-700';
  color: #0080bb;
  border: 1px solid #0080bb;
  font-size: 16px;
  padding: 0 15px;
  text-decoration: none;
  opacity: 0.9;
  &:hover{
    opacity: 1;
    text-decoration: none;
  }
}
/*---------------------END HEADER---------------------------*/

/*---------------------FIXED HEADER---------------------------*/
.fixed_header{
  width: 100%;
  min-width: 770px;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff image_url('triangles.png') no-repeat;
  background-position: 0 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  .header {
    width: 100%;
    max-width: 1300px;
    height: 85px;
    background: none;
    margin: 0 auto;
    .header__contacts {
      float: right;
      position: relative;
      top: 28px;
    }
    text-align: center;
  }
  .header__logo{
    margin-top: 15px;
    float: left;
    img{
      height: 50px;
    }
  }
  .header__main_line{
    margin-top: 15px;
  }
}
/*---------------------END FIEXD HEADER---------------------------*/

.main_container{
  background: image_url('triangles.png') no-repeat;
  background-position: 0 0;
  width: 100%;
  min-width: 1000px;
  .main_content{
    max-width: 1300px;
  }
  .invisible_block{
    display: none;
  }
}


/*-----------------------footer ----------------------------*/
.footer{
  float: left;
  width: 100%;
  height: 400px;
}
.footer__adv{
  background-color: #007fba;
  height: 45px;
  font-family: 'MuseoSansCyrl-300';
  font-size: 14px;
  text-align: center;
  a{
    margin: 3px auto;
    display: block;
    line-height: 45px;
    color: white;
    text-decoration: none;
  }
  img{
    vertical-align: text-bottom;
  }
}
.footer__main{
  margin: 0 auto;
  width: 95%;
  min-width: 900px;
  max-width: 1100px;
}
.footer__main__links{
  margin: 30px 0 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  .links_column{
    width: 24%;
    display: inline-block;
    vertical-align: top;
  }
  a{
    display: block;
    line-height: 30px;
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    color: #a4a4a4;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.footer__main__info{
  width: 100%;
  .info_column{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    img{
      margin-top: 3px;
      float: left;
    }
    .info_column__content{
      text-align: left;
      margin-left: 23px;
      span{
        display: block;
        line-height: 25px;
        font-family: 'MuseoSansCyrl';
        font-size: 16px;
      }
      .bold_footer_info{
        margin-bottom: 2px;
        font-family: 'MuseoSansCyrl-700';
        font-size: 19px;
      }
    }
    .lft_mrgn{
      margin-left: 60px;
    }
  }
  .info_column__right{
    width: 39%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }
  .contacts{
    a{
      margin-left: 1px;
      text-decoration: none;
    }
    .contacts__phone{
      margin-left: 7px;
      font-size: 26px;
      font-family: 'MuseoSansCyrl-700';
    }
    margin-bottom: 10px;
  }
  .copyright{
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    color: #a4a4a4;
  }
}
/*----------------------- end footer ----------------------------*/

/*------------------------- modal ----------------------------------*/
.modal_area{
  display: block;
  .modal__back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.7;
    z-index: 6;
    display: none;
  }
  .modal__view{
    position: absolute;
    top: 10%;
    z-index: 7;
    width: 100%;
  }
  .modal_window{
    border-radius: 3px;
    display: none;
    margin: 0 auto;
    background-color: white;
  }
  .modal__notice{
    width: 560px;
    z-index: 6;
    .modal__title{
      padding: 30px 0;
    }
  }
  .modal__phone_call{
    width: 560px;
    height: 285px;
  }
  .modal__login{
    width: 560px;
    height: 285px;
  }
  .modal__registration {
    width: 600px;
    min-height: 285px;
    form {
      padding-bottom: 10px;
    }
    .actions {
      margin-bottom: 20px;
    }
    .red_button {
      margin-top: 5px;
      width: 200px;
    }
    .input_set {
      input {
        line-height: 35px;
      }
      label.with_hint {
        line-height: 20px;
      }
      label {
        font-family: 'MuseoSansCyrl-300';
        font-size: 16px;
        float: left;
        line-height: 35px;
        width: 160px;
        .hint {
          color: rgb(161, 161, 161);
        }
      }
    }
  }
  .modal__service {
    width: 560px;
    height: 330px;
  }
  .modal__header{
    height: 25px;
    text-align: right;
    .close_button{
      display: inline-block;
      text-align: right;
      margin: 12px 15px 0;
      font-family: monospace;
      font-size: 15px;
      cursor: pointer;
      color: #0080bb;
    }
  }
  .modal__title{
    font-family: 'MuseoSansCyrl-700';
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  .modal__undertitle{
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    text-align: center;
    float: left;
    line-height: 22px;
    margin: 0px 50px 24px;
  }
  .input_set{
    margin: 10px 50px;
    label{
      font-family: 'MuseoSansCyrl-300';
      font-size: 16px;
      width: 130px;
      float: left;
      line-height: 22px;
    }
    input{
      border: 1px solid #989899;
      width: 305px;
      line-height: 22px;
      float: right;
      padding: 0 10px;
    }
  }
  .actions{
    text-align: center;
    input{
      cursor: pointer;
    }
  }
  .help_links{
    width: 82%;
    margin: 15px auto;
    .left_floated_link{
      float: left;
    }
    .right_floated_link{
      float: right;
    }
  }
  .modal__button{
    margin: 30px 0 30px;
    text-align: center;
    .red_button{
      width: 200px;
    }
  }
  .modal_error{
    label{
      color: red;
    }
    input{
      border-color: red;
    }
  }
}
/*------------------------- end modal ----------------------------------*/
