@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: font_url('MuseoSansCyrl-100.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-100italic';
  src: font_url('MuseoSansCyrl-100italic.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: font_url('MuseoSansCyrl-300.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-300italic';
  src: font_url('MuseoSansCyrl-300italic.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: font_url('MuseoSansCyrl-500.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-500italic';
  src: font_url('MuseoSansCyrl-500italic.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: font_url('MuseoSansCyrl-700.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-700italic';
  src: font_url('MuseoSansCyrl-700italic.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: font_url('MuseoSansCyrl-900.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-900italic';
  src: font_url('MuseoSansCyrl-900italic.otf');
}
