@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: font_url('MuseoSansCyrl-100.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-100Italic';
  src: font_url('MuseoSansCyrl-100.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: font_url('MuseoSansCyrl-300.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-300Italic';
  src: font_url('MuseoSansCyrl-300.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: font_url('MuseoSansCyrl-500.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-500Italic';
  src: font_url('MuseoSansCyrl-500.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: font_url('MuseoSansCyrl-700.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-700Italic';
  src: font_url('MuseoSansCyrl-700.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: font_url('MuseoSansCyrl-900.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-900Italic';
  src: font_url('MuseoSansCyrl-900.otf');
  font-weight: normal;
  font-style: normal;
}
