.delivery_page__title{
  width: 800px;
  margin: 20px auto;
  text-align: center;
  h1{
    font-family: 'MuseoSansCyrl-700';
    color:  #333333;
    font-size: 36px;
    line-height: 38px;
  }
}

.delivery_page__pictures{
  background-color:  #f3f3f3;
  width: 100%;
  height: 300px;
  .images_block{
    text-align: center;
    a{
      margin: 3% 0.8%;
      max-width: 280px;
      width: 20%;
      min-width: 230px;
      display: inline-block;
      color:  #333333;
      text-decoration: none;
      &:hover{
        color:  #0080bb;
      }
      img{
        width: 100%;
      }
    }
    .images_block__title{
      font-family: 'MuseoSansCyrl-700';
      font-size: 24px;
      line-height: 24px;
      text-align: left;
    }
    .images_block__desc{
      font-family: 'MuseoSansCyrl-300';
      font-size: 14px;
      line-height: 18px;
      text-align: left;
    }
  }
}

.delivery_page__content{
  margin: 30px auto;
  width: 800px;
  text-align: left;
  font-family: 'MuseoSansCyrl-300';
  color:  #333333;
  font-size: 16px;
  line-height: 24px;
}
