.delivery-body{
}
.delivery-body-title{
  font-family: 'MuseoSansCyrl';
  color:  #333333;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  margin: 45px;
}
#delivery-body-map{
  height: 400px;
  width: 1180px;
  margin: 0 auto;
}
.delivery-body-text{
  margin: 65px auto 65px;
  width: 62%;
  overflow: hidden;
  input[type=text] {
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    background-color:  #ffffff;
    width: 97%;
    height: 33px;
    margin: 22px auto;
    background: transparent image_url('magnifier.png') no-repeat scroll 846px center;
    padding-left:16px;
  }
}
.delivery-body-text-delivery{
  font-family: 'MuseoSansCyrl';
  color:  #333333;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  width: 61%;
  float: left;
  span {
    color:  #333333;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }
  .delivery-body-text-delivery-spb{}
  .delivery-body-text-delivery-district{
    margin-top: 42px;
  }
}
.delivery-body-text-delivery-info{
  border-radius: 3px;
  background-color:  #f7f7f7;
  width: 280px;
  height: 200px;
  float: right;
}
.delivery-body-text-delivery-info-text{
  padding: 27px 69px 20px 27px;
  big {
    font-family: 'MuseoSansCyrl';
    color:  #333333;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }

  span {
    font-family: 'MuseoSansCyrl';
    color:  #eb0028;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }

  body {
    font-family: 'MuseoSansCyrl';
    color:  #333333;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.delivery-body-text-list{
  font-family: 'MuseoSansCyrl';
  color: #0080bb;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  width: 100%;
  height: 572px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}


#dialog {
  display: none;
  position: absolute;
  margin-left: 15px;
  -moz-box-shadow: 0px 0px 8px -1px black;

  border-width: 1px;
  border-color:  #d1d1d1;
  border-style: solid;
  background-color:  #f7f7f7;
  width: 320px;
  height: 125px;
}

.dialog-text{
  padding: 15px 52px 19px 27px;
  font-family: 'MuseoSansCyrl';
  color:  #333333;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

#tailShadow {
  background-color: transparent;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 16px;
  left: -8px;
  z-index: -10;
  box-shadow: 0px 0px 8px 1px black;
  -moz-box-shadow: 0px 0px 8px 1px black;
  -webkit-box-shadow: 0px 0px 8px 1px black;
}

#tail1 {
  border: 10px solid;
  border-color: rgba(0, 0, 0, 0) #D1D1D1 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  position: absolute;
  top: 8px;
  left: -20px;
}

#tail2 {
  border: 10px solid;
  border-color: rgba(0, 0, 0, 0) #F7F7F7 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  position: absolute;
  left: -19px;
  top: 8px;
}

.close-modal{
  position: relative;
  top: -121px;
  left: 297px;
  cursor: pointer;
}
