@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url('MuseoSansCyrl-100.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-100italic';
  src: url('MuseoSansCyrl-100italic.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('MuseoSansCyrl-300.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-300italic';
  src: url('MuseoSansCyrl-300italic.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('MuseoSansCyrl-500.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-500italic';
  src: url('MuseoSansCyrl-500italic.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('MuseoSansCyrl-700.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-700italic';
  src: url('MuseoSansCyrl-700italic.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('MuseoSansCyrl-900.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-900italic';
  src: url('MuseoSansCyrl-900italic.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-Black';
  src: url('RFRegalDisplayPro-Black.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-BlackItalic';
  src: url('RFRegalDisplayPro-BlackItalic.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-Bold';
  src: url('RFRegalDisplayPro-Bold.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-BoldItalic';
  src: url('PFRegalDisplayPro-BoldItalic.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-Italic';
  src: url('PFRegalDisplayPro-Italic.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-Medium';
  src: url('RFRegalDisplayPro-Medium.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-MediumItalic';
  src: url('RFRegalDisplayPro-MediumItalic.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-Regular';
  src: url('RFRegalDisplayPro-Regular.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-UBlack';
  src: url('RFRegalDisplayPro-UBlack.otf');
}
@font-face {
  font-family: 'RFRegalDisplayPro-UBlackItalic';
  src: url('RFRegalDisplayPro-UBlackItalic.otf');
}
