.main_page{
  .water__block{
    position: relative;
    max-width: 1600px;
    margin: 1px auto 0;
    .water__block__main_image{
      color: white;
      img{
        width: 100%;
      }
      .infogr{
        position: absolute;
        top: 44%;
        right: 7%;
        font-family: 'MuseoSansCyrl';
        color: #ffffff;
        font-size: 45px;
        display: none;
      }
      .infogr_price{
        .rubles{
          color: #FFF;
          display: inline-block;
          border-bottom: 4px solid;
          line-height: 0;
          width: 23px;
          height: 11px;
          font-size: 45px;
          box-sizing: border-box;
        }
      }
      .infogr_line{
        border-color:  #dddddd;
        width: 115px;
        height: 1px;
        margin: 0 auto 6px;
        background: white;
      }
      .infogr_volume{}
      .infogr_volume_count{
        font-size: 17px;
      }
      .infogr_base{
        position: absolute;
        overflow: hidden;
        display: block;
        width: 37px;
        img{
          position: relative;
          min-width: 80px;
          min-height: 66px;
        }
      }
      .infogr_19{
        top: 61%;
        right: 14%;
      }
      .infogr_8{
        top: 61%;
        right: 11%;
      }
      .infogr_6{
        top: 61%;
        right: 8%;
      }
      .infogr_1{
        top: 61%;
        right: 5%;
      }
    }
    .little_images{
      text-align: justify;
      .stretch {
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0
      }
      & > div{
        position: relative;
      }
      .little_images__text{
        position: absolute;
        bottom: 9%;
        left: 6%;
        color: white;
        width: 286px;
        text-align: left;
      }
      .little_images__text__title{
        font-family: 'MuseoSansCyrl-700';
        font-size: 28px;
        line-height: 24px;
        text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
      }
      .little_images__text__body{
        margin-top: 5px;
        font-family: 'MuseoSansCyrl';
        font-size: 14px;
        line-height: 20px;
        text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
      }
    }
    .water__block__arhyz_image{
    }
    .water__block__legend_image{
      margin-left: 1px;
    }
    .water__block__yodis_image{
    }
    .block_to_inline{
      img{
        width: 100%;
      }
      width: 33%;
      display: inline-block;
      *display: inline;
    }
    .water__block__main_image__text{
      text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
      width: 440px;
      position: absolute;
      top: 15%;
      left: 3%;
      height: 100%;
      .main_image__text__header{
        font-family: 'MuseoSansCyrl-700';
        color:  #ffffff;
        font-size: 40px;
        line-height: 44px;
        text-align: left;
        margin-bottom: 15px;
      }
      .main_image__text__title{
        font-family: 'RFRegalDisplayPro-Italic';
        color:  #ffffff;
        font-size: 30px;
        line-height: 30px;
      }
      .main_image__text__text{
        font-family: 'MuseoSansCyrl';
        color:  #ffffff;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        transform: scaleX(1.0022);
        text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
        margin: 20px 0;
      }
    }
  }
  .main_page__button{
    font-family: 'MuseoSansCyrl-300';
    color:  #ffffff;
    font-size: 16px;
    display: inline-block;

    border-radius: 3px;
    background-color:  #0080bb;
    padding: 0 20px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    opacity: 0.8;
    &:hover{
      opacity: 1;
    }
  }
  .about_company__block{
    position: relative;
    max-width: 1600px;
    margin: -21px auto 0;
    img{
      width: 100%;
    }
    .about_company__text{
      width: 685px;
      position: absolute;
      top: 6%;
      left: 3%;
      color:  #ffffff;
      .about_company__text__header{
        font-family: 'MuseoSansCyrl-700';
        font-size: 36px;
        line-height: 24px;
        margin-bottom: 10px;
      }
      .about_company__text__quote{
        font-family: 'PFRegalDisplayPro-Italic';
        font-size: 26px;
        line-height: 32px;
        padding: 10px 0;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
      }
      .about_company__text__quote_author{
        font-family: 'MuseoSansCyrl-300';
        color:  rgba(254, 254, 254, 0.5);
        font-size: 16px;
        line-height: 24px;
      }
      .about_company__text__text{
        font-family: 'MuseoSansCyrl-300';
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0 15px;
      }
    }
  }
  .equipment__block{
    position: relative;
    max-width: 1600px;
    margin: -3px auto 0;
    img{
      width: 100%;
    }
    .equipment__block__text{
      color:  #333333;
      width: 456px;
      position: absolute;
      top: 15%;
      right: 4%;
    }
    .equipment__block__text__header{
      font-family: 'MuseoSansCyrl-700';
      font-size: 36px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .equipment__block__text__text{
      font-family: 'MuseoSansCyrl-300';
      color:  #333333;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }
  .delivery__block{
    position: relative;
    max-width: 1600px;
    margin: -3px auto -6px;
    color:  #383838;
    img{
      width: 100%;
    }
    .delivery__block_map__text{
      position: absolute;
      top: 15%;
      left: 5%;
      border-radius: 3px;
      background-color:  rgba(255, 255, 255, 0.9);
      width: 380px;
      height: 418px;
      padding: 50px;
    }
    .delivery__block_map__text__header{
      font-family: 'MuseoSansCyrl-700';
      font-size: 36px;
      line-height: 24px;

    }
    .delivery__block_map__text__text{
      font-family: 'MuseoSansCyrl-300';
      font-size: 16px;
      line-height: 24px;
      margin: 20px 0;
    }
  }
}
