.modal__order{
  min-height: 285px;
  width: 620px;
  padding-bottom: 20px;
  .water_template{
    margin: 5px auto;
    width: 435px;
  }
  .aqua_select{
    padding: 0 10px;
    float: left;
  }
  .volume_select{
    padding: 0 10px;
    float: left;
  }
  .amount{
    float: left;
    padding: 0 10px;
    width: 86px;
    input{
      text-align: center;
      width: 40px;
      float: left;
    }
    button{
      width: 20px;
      float: left;
    }
  }
  .price{
    padding: 0 10px;
    float: left;
  }
  .remove_button{
    padding: 0 10px;
    float: right;
    color: red;
    cursor: pointer;
    line-height: 15px;
    font-size: 20px;
    font-family: monospace;
  }
  .submit_modal__button{
    margin: 30px 50px;
    text-align: right;
    .red_button{
      text-align: center;
      width: 160px;
    }
  }
  .modal__empty_bottles{
    margin: -10px 50px 30px;
  }

}
.order_form{
  margin: 10px 40px 25px;
  label{
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    float: left;
    line-height: 35px;
    min-width: 215px;
    .hint{
      color: rgb(161, 161, 161);
    }
  }
  .name{
    label{
      line-height: 18px;
    }
  }
  .delivery_comment{
    label{
      line-height: 18px;
    }
  }
  input{
    width: 300px;
    line-height: 35px;
    font-size: 18px;
    padding: 0 10px;
  }
  input.datepicker{
    width: 150px;
  }
  textarea{
    width: 308px;
    padding: 7px;
    font-size: 16px;
  }
  .order_input{
    margin: 7px 0;
  }
  .back_button{
    float: left;
  }
  .submit_button{
    float: right;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
}
.custome_selector{
  border: 1px solid gray;
  border-radius: 3px;
  color: rgb(161, 161, 161);
  line-height: 35px;
  font-family: 'MuseoSansCyrl-300';
  font-size: 16px;
  display: inline-block;
  .variant{
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    &:hover{
      color: #333;
    }
  }
  .first_variant{
    border-right: 1px solid gray;
  }
  .second_variant{
    margin-left: -4px;
  }
  .active{
    color: #333;
    background-color: rgb(213, 237, 255);
  }
  .variant.disabled{
    background-color: #DADADA;
    cursor: default;
    color: #333;
  }
}
