.modal__order{
  min-height: 285px;
  width: 620px;
  padding-bottom: 20px;
  .error_field{
    border: 1px solid #eb0028;
  }
  .order_error_messages{
    margin-left: 30px;
    color: #eb0028;
    ol{
      margin-left: 20px;
    }
  }
  .products{
    //width: 500px;
    background-color: white;
    min-width: 500px;
  }
  .water_template{
    margin: 5px auto;
    padding-left: 20px;
    padding-right: 15px;
  }
  .aqua_select{
    padding: 0 10px;
    float: left;
  }
  .volume_select{
    padding: 0 10px;
    float: left;
  }
  .amount{
    //margin-left: 220px;
    margin-left: 318px;
    padding: 0 10px;
    //width: 86px;
    input{
      text-align: center;
      width: 40px;
      float: left;
      height: 31px;
      border-style: solid;
      border-width: 1px;
      background-color: #FFF;
      border-color: #D1D1D1;
      border-left-width: 0;
      border-right-width: 0;
    }
    button{
      width: 20px;
      float: left;
    }
  }
  .price{
    padding: 0 10px;
    float: right;
  }
  .remove_button{
    padding: 0 10px;
    float: right;
    color: red;
    cursor: pointer;
    line-height: 27px;
    font-size: 20px;
    font-family: monospace;
  }
  .submit_modal__button{
    margin: 30px 50px;
    text-align: right;
    .red_button{
      text-align: center;
      width: 160px;
    }
  }
  .modal__empty_bottles{
    margin: -10px 50px 15px;
    input[type=checkbox]{
      height: 20px;
      width: 16px;
      margin-top: 2px;
    }
    label{
      font-family: 'MuseoSansCyrl';
      position: relative;
      top: -5px;
      font-size: 15px;
    }
    img{
      position: relative;
      top: -3px;
      left: 9px;

      &:hover {
        #dialog {
          display: block;
        }
      }
    }


  }
  .card_additional{
    padding: 10px 25px 30px;
    background-color: #F5F5F5;
    position: relative;
    top: 20px;
    .additional__title{
      font-family: 'MuseoSansCyrl';
      font-weight: bold;
      font-size: 16px;
      float: left;
      padding-left: 37px;
    }
    .additional__filters{
      float: right;
      font-family: 'MuseoSansCyrl-300';
      font-size: 12px;
      .filter{
        cursor: pointer;
        display: inline-block;
        color: #0080bb;
        margin-left: 15px;
        &:hover{
          color: #00557b;
        }
      }
      .filter_active{
        color: #333333;
      }
    }
  }
  .product{
    width: 140px;
    overflow: hidden;
    position: relative;
    &:hover{
      .add_to_card{
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        top: 60px;
        left: 8px;
      }
    }
    .add_to_card{
      display: none;
    }
    img{
      max-height: 140px;
      max-width: 140px;
    }
  }
  .card_additional{
    .js_order__products{
      text-align: center;
      width: 535px;
      margin: 15px auto;
    }
    .product__image img{
      display: inline-block;
    }
    button:before{
      color: #0080bb;
    }
  }
  .accessory_template{
    margin: 5px auto;
    padding-left: 20px;
    padding-right: 15px;
  }
  .accessory_type{
    padding: 0 10px;
    float: left;
    display: inline-block;
    input{
      width: 80px;
    }
  }
  .accessory_name{
    line-height: 30px;
    padding: 0 10px 0 20px;
    width: 210px;
    float: left;
    display: inline-block;
    font-family: 'MuseoSansCyrl';
    input{
      width: 80px;
    }
  }
  .rubles{
    color: #acacac;
    display: inline-block;
    border-bottom: 1px solid;
    line-height: 0;
    width: 8px;
    height: 3px;
    font-size: 13.0pt;
    box-sizing: border-box;
  }
  .prima_state_thanks{
    margin: 0 auto;
    width: 82%;
    .bill_product{
      padding: 10px 0;
      border-bottom: 1px solid #acacac;
    }
    .bill_product_name{
      float: left;
      display: inline-block;
    }
    .bill_product_cost{
      float: right;
      display: inline-block;
      width: 100px;
      text-align: right;
    }
    .bill_product_amount{
      float: right;
      text-align: center;
      display: inline-block;
      width: 100px;
    }
    .order_total{
      margin-top: 15px;
    }
    .couriers_info{
      width: 200px;
      float: left;
      color: #acacac;
      img{
        max-width: 200px;
      }
    }
    .price_info{
      width: 300px;
      float: right;
      text-align: right;
    }
    .price_info__delivery{
      color: #acacac;
    }
    .finish_order_button{
      margin-top: 15px;
      float: right;
      text-align: center;
    }
  }
  .order__register_form{
    margin: 25px 0;
    padding: 25px 40px;
    background-color: #F7F7F7;
    .register_flag{
      input{
        width: 20px;
        float: left;
        margin: 11px 15px;
      }
    }
  }
  .modal__empty_bottles__deposit{
    float: right;
    position: relative;
    top: -4px;
    font-family: 'MuseoSansCyrl';
  }
}
.order_form{
  margin: 10px 0px 25px;
  label{
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    float: left;
    line-height: 35px;
    min-width: 215px;
    .hint{
      color: rgb(161, 161, 161);
    }
  }
  .name{
    label{
      line-height: 18px;
    }
  }
  .delivery_comment{
    label{
      line-height: 18px;
    }
  }
  input{
    width: 300px;
    line-height: 35px;
    font-size: 18px;
    padding: 0 10px;
  }
  input.datepicker{
    width: 150px;
  }
  textarea{
    width: 308px;
    padding: 7px;
    font-size: 16px;
  }
  .order_input{
    margin: 7px 0;
  }
  .back_button{
    float: left;
  }
  .submit_button{
    float: right;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
  .delivery_hint{
    color: rgb(161, 161, 161);
    font-size: 14px;
    margin: 5px 0 12px 215px;
  }
  .order__signin_button{
    float: right;
  }
  .order__customer_type_selector{
    margin-bottom: 20px;
  }
  .blue_button{
    min-width: inherit;
  }
  .order__customer, .order__delivery_form, .order__buttons{
    margin: 0 40px;
  }
}
.custome_selector{
  border: 1px solid gray;
  border-radius: 3px;
  color: rgb(161, 161, 161);
  line-height: 35px;
  font-family: 'MuseoSansCyrl-300';
  font-size: 16px;
  display: inline-block;
  .variant{
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    &:hover{
      color: #333;
    }
  }
  .first_variant{
    border-right: 1px solid gray;
  }
  .second_variant{
    margin-left: -4px;
  }
  .active{
    color: #333;
    background-color: rgb(213, 237, 255);
  }
  .variant.disabled{
    background-color: #DADADA;
    cursor: default;
    color: #333;
  }
}
.select_aqua select {
  border-radius: 5px;
  height: 34px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  width: 208px;
  border-style: solid;
  border-width: 1px;
  border-color: #D1D1D1;
  color: #0080BB;
  background: image-url("select_arrow.png") no-repeat 93%;
}
.select_volume select {
  border-radius: 5px;
  height: 34px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  border-style: solid;
  border-width: 1px;
  border-color: #D1D1D1;
  color: #0080BB;
  width: 73px;
  background: image-url("select_arrow.png") no-repeat 90%;
}
.button_minus{
  background-color: #F7F7F7;
  border-style: solid;
  border-width: 1px;
  height: 33px;
  width: 33px !important;
  border-radius: 5px 0px 0px 5px;
}
.button_plus{
  background-color: #F7F7F7;
  border-style: solid;
  border-width: 1px;
  height: 33px;
  width: 33px !important;
  border-radius: 0px 5px 5px 0px;
}
.js_currency{
  font-family: 'MuseoSansCyrl';
  color: #ACACAC;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  display: inline-block;
  border-bottom: 1px solid;
  width: 8px;
  height: 18px;
  box-sizing: border-box;
}
.js_price_value{
  font-family: 'MuseoSansCyrl-300';
  font-size: 16px;
  color: #333333;
  line-height: 30px;
}

.js_empty_bottles{
  height: 16px;
  width: 16px;
}
.modal__order_line{
  border-color: #DDD;
  width: 522px;
  height: 1px;
  margin: 0 auto 50px;
  background: #DDD;
}
.dialog-text-order{
  padding: 15px 52px 19px 27px;
  font-family: 'MuseoSansCyrl';
  color:  #333333;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}
.order-delivery{
  font-family: 'MuseoSansCyrl';
  color: #999999;
}
