.modal__order{
  min-height: 285px;
  width: 620px;
  padding-bottom: 20px;
  .error_field{
    border: 1px solid #eb0028;
  }
  .order_error_messages{
    margin-left: 30px;
    color: #eb0028;
    ol{
      margin-left: 20px;
    }
  }
  .products{
    width: 500px;
    background-color: white;
    min-width: 500px;
  }
  .water_template{
    margin: 5px auto;
    width: 455px;
  }
  .aqua_select{
    padding: 0 10px;
    float: left;
  }
  .volume_select{
    padding: 0 10px;
    float: left;
  }
  .amount{
    margin-left: 220px;
    padding: 0 10px;
    width: 86px;
    input{
      text-align: center;
      width: 40px;
      float: left;
    }
    button{
      width: 20px;
      float: left;
    }
  }
  .price{
    padding: 0 10px;
    float: right;
  }
  .remove_button{
    padding: 0 10px;
    float: right;
    color: red;
    cursor: pointer;
    line-height: 15px;
    font-size: 20px;
    font-family: monospace;
  }
  .submit_modal__button{
    margin: 30px 50px;
    text-align: right;
    .red_button{
      text-align: center;
      width: 160px;
    }
  }
  .modal__empty_bottles{
    margin: -10px 50px 30px;
  }
  .card_additional{
    margin: 10px 25px 30px;
    .additional__title{
      font-family: 'MuseoSansCyrl';
      font-weight: bold;
      font-size: 16px;
      float: left;
    }
    .additional__filters{
      float: right;
      font-family: 'MuseoSansCyrl-300';
      font-size: 12px;
      .filter{
        cursor: pointer;
        display: inline-block;
        color: #0080bb;
        margin-left: 15px;
        &:hover{
          color: #00557b;
        }
      }
      .filter_active{
        color: #333333;
      }
    }
  }
  .product{
    width: 140px;
    overflow: hidden;
    position: relative;
    &:hover{
      .add_to_card{
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        top: 60px;
        left: 8px;
      }
    }
    .add_to_card{
      display: none;
    }
    img{
      height: 140px;
      width: 140px;
    }
  }
  .card_additional{
    .js_order__products{
      text-align: center;
      width: 535px;
      margin: 15px auto;
    }
    .product__image img{
      display: inline-block;
    }
    button:before{
      color: #0080bb;
    }
  }
  .accessory_template{
    margin: 5px auto;
    width: 455px;
  }
  .accessory_type{
    padding: 0 10px;
    float: left;
    display: inline-block;
    input{
      width: 80px;
    }
  }
  .accessory_name{
    padding: 0 10px;
    width: 210px;
    float: left;
    display: inline-block;
    input{
      width: 80px;
    }
  }
  .rubles{
    color: #acacac;
    display: inline-block;
    border-bottom: 1px solid;
    line-height: 0;
    width: 8px;
    height: 3px;
    font-size: 13.0pt;
    box-sizing: border-box;
  }
  .prima_state_thanks{
    margin: 0 auto;
    width: 82%;
    .bill_product{
      padding: 10px 0;
      border-bottom: 1px solid #acacac;
    }
    .bill_product_name{
      float: left;
      display: inline-block;
    }
    .bill_product_cost{
      float: right;
      display: inline-block;
      width: 100px;
      text-align: right;
    }
    .bill_product_amount{
      float: right;
      text-align: center;
      display: inline-block;
      width: 100px;
    }
    .order_total{
      margin-top: 15px;
    }
    .couriers_info{
      width: 200px;
      float: left;
      color: #acacac;
      img{
        max-width: 200px;
      }
    }
    .price_info{
      width: 300px;
      float: right;
      text-align: right;
    }
    .price_info__delivery{
      color: #acacac;
    }
    .finish_order_button{
      margin-top: 15px;
      float: right;
      text-align: center;
    }
  }
  .order__register_form{
    margin: 50px 0;
    .register_flag{
      input{
        width: 20px;
        float: left;
        margin: 11px 15px;
      }
    }
  }
  .modal__empty_bottles__deposit{
    float: right;
  }
}
.order_form{
  margin: 10px 40px 25px;
  label{
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    float: left;
    line-height: 35px;
    min-width: 215px;
    .hint{
      color: rgb(161, 161, 161);
    }
  }
  .name{
    label{
      line-height: 18px;
    }
  }
  .delivery_comment{
    label{
      line-height: 18px;
    }
  }
  input{
    width: 300px;
    line-height: 35px;
    font-size: 18px;
    padding: 0 10px;
  }
  input.datepicker{
    width: 150px;
  }
  textarea{
    width: 308px;
    padding: 7px;
    font-size: 16px;
  }
  .order_input{
    margin: 7px 0;
  }
  .back_button{
    float: left;
  }
  .submit_button{
    float: right;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
  .delivery_hint{
    color: rgb(161, 161, 161);
    font-size: 14px;
    margin: 5px 0 12px 215px;
  }
  .order__signin_button{
    float: right;
  }
  .order__customer_type_selector{
    margin-bottom: 20px;
  }
  .blue_button{
    min-width: inherit;
  }
}
.custome_selector{
  border: 1px solid gray;
  border-radius: 3px;
  color: rgb(161, 161, 161);
  line-height: 35px;
  font-family: 'MuseoSansCyrl-300';
  font-size: 16px;
  display: inline-block;
  .variant{
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    &:hover{
      color: #333;
    }
  }
  .first_variant{
    border-right: 1px solid gray;
  }
  .second_variant{
    margin-left: -4px;
  }
  .active{
    color: #333;
    background-color: rgb(213, 237, 255);
  }
  .variant.disabled{
    background-color: #DADADA;
    cursor: default;
    color: #333;
  }
}
