<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на смену Вашего пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не Вы, пожалуйста, проигнорируйте данное сообщение.</p>
