- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область. Товары'
- meta_description 'У нас Вы можете купить дополнительные товары'
- meta_keywords 'кулеры для воды, купить кулер, заказать кулер'
.products
  .products-links
    - @categories.each do |category|
      .products-links-item{class: ('active' if active_products?(category.slug))}
        = link_to category.name, products_path(type: category.slug)
  .products-line
  .products-filters
    .products-filters-left
    .products-filters-right
      Сортировать по цене
  .products-list
    - @products.each_with_index do |product, index|
      = render 'products/item', item: product, index: index
