- title 'Prima aqua - доставка воды Санкт-Петербург и Ленинградская область. Стаканчики, мешалки, тарелки'
.accessories
  = render partial: 'partials/links_for_indexes'
  .accessories-line
  .accessories-filters
    .accessories-filters-left
    //.accessories-filters-left-item{class: ('active' if link_active?)}
    //  = link_to 'Все', accessories_path
    //.accessories-filters-left-item{class: ('active' if link_active?('напольные'))}
    //  = link_to 'Напольные', accessories_path(type_construction: 'напольные')
    //.accessories-filters-left-item{class: ('active' if link_active?('настольные'))}
    //  = link_to 'Настольные', accessories_path(type_construction: 'настольные')
    .accessories-filters-right
      = link_to 'Сортировать по цене', accessories_path(order: 'price')
  .accessories-list
    - @accessories.each_with_index do |accessory, index|
      = render 'accessories/item', accessory: accessory, index: index
