.fixed_header.invisible_block
  .header
    .header__logo
      %a{ href: '/' }
        = image_tag image_url('logo.png')
    .header__contacts
      = link_to '#' do
        = image_tag 'contacts.png'
    .header__main_line
      .header__main_line__menu
        %ul#menu
          %li
            %a.with_underline{href: '#'} О воде
            %ul
              - @all_aquas.each do |aqua|
                %li
                  = link_to aqua.name, aqua, class: 'with_underline'
          %li
            %a.with_underline{href: coolers_path} Кулеры и помпы
          %li
            %a.with_underline{href: products_path(type: 'cup')} Сопутствующие товары
          %li
            %a.with_underline{href: prices_path} Цены
          %li
            %a.red_button.js_order_button{href: '#'} Заказать
