.modal_window.modal__order.js_modal.js_modal_order
  .modal__header
    .close_button.js_close_button
      x
  .order_error_messages
  .card.order_step
    .prima_state_card
      .modal__title
        Заказать
      .js_card_form
        .js_aqua_template.hidden_block
          =render 'layouts/order_position'
        .js_accessory_template.hidden_block
          =render 'layouts/order_accessory'

        .products
          =render 'layouts/order_position'

      .modal__button
        %a.blue_button.js_add_position Добавить позицию

      .modal__empty_bottles
        %input.js_empty_bottles{ type: 'checkbox', checked: false }
        %label
          У меня достаточно пустых бутылей
        = image_tag 'question.png'
        .modal__empty_bottles__deposit
          Залог:
          %span.js_dep.js_order_deposit
            = @deposit ? @deposit : 150
          %span.js_dep.js_null_order_deposit.hidden_block
            0
          %span.js_currency
            Р
      .modal__order_line
      .submit_modal__button
        %a.red_button.js_order_change_step Оформить заказ

    - if @items.present?
      .card_additional
        .additional__title
          Может пригодиться
        .additional__filters
          .filter.js_all.filter_active
            Все
          .filter.js_cooler
            Кулеры
          .filter.js_accessory
            Аксессуары
          .filter.js_product
            Сопут. тов.
        .clearfix

        .js_order__products
          - @items.shuffle.each do |cooler|
            = render 'partials/product', product: cooler


  .order.order_step.hidden_block
    .prima_state_order
      .modal__title
        Оформление заказа
      .js_order_form.order
        =render 'layouts/order_form'

  .thanks.hidden_block
    .prima_state_thanks
      .modal__title
        Ваш заказ оформлен
      .order_result.js_bill
      .clearfix
      .order_total
        .couriers_info
          Курьеры принимают
          %br
          банковские карты
          %br
          = image_tag image_url('cards.png')
        .price_info
          .price_info__total
            %b Итого:
            %span.js_total_price
            %span.rubles P
            %span.total_deposit
          .price_info__delivery
            Доставка - бесплатно
        .finish_order_button
          %a.red_button.js_order_finish Отлично!
  .clearfix

#dialog
  .dialog-text-order
    Наши бутыли сделаны из поликорбоната. Он намного лучше и дороже обычного пластика, поэтому мы просим вас оставлять залог
  #tail1
  #tail2

:javascript
  $('.modal__empty_bottles > img').hover(
  function(e) {
      e.preventDefault();
      $('#dialog').show();
      //console.log($(this).children('.popup').text());
      $('#dialog').css('left', $(this).position().left + $(this).width() + 10);
      $('#dialog').css('top', $(this).position().top - 7);
  }, function(e) {
    $('#dialog').hide();
  });