.modal_window.modal__order.js_modal.js_modal_order
  .modal__header
    .close_button.js_close_button
      x
  .modal__title
    Заказать
  .js_order_form.card
    .js_aqua_template.hidden_block
      =render 'layouts/order_position'

    .products
      =render 'layouts/order_position'

  .modal__button
    %a.blue_button.js_add_position Добавить позицию

  .clearfix
